<div xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">BugTracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/hello}">Strona główna</a>
                    </li>


                    </li>
                    <li class="nav-item dropdown">
                        <a th:text="${#authentication.principal.username}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:text="#{menu.logout}" class="dropdown-item" th:href="@{/logout}" onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();"></a>
                            <form id="logout-form" th:action="@{/logout}" method="POST" class="d-none">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>