<html th:lang="${#locale.language}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

<title layout:fragment="title" th:text="#{people.edit}"></title>

<section class="container" layout:fragment="content">

    <h2 th:text="#{people.edit}"></h2>

    <form th:action="@{/user/edited}" th:object="${person}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="username" th:text="#{login.username}"></label>
            <input type="text" class="form-control" id="username" th:field="*{username}"
                   th:placeholder="#{people.placeholder.username}" autocomplete="off" required>
        </div>

        <div class="form-group">
            <label for="password" th:text="#{login.password}"></label>
            <input type="password" class="form-control" id="password" th:field="*{password}"
                   th:placeholder="#{people.placeholder.password}" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="name" th:text="#{people.name}"></label>
            <input type="text" class="form-control" id="name" th:field="*{name}"
                   th:placeholder="#{people.placeholder.name}" autocomplete="off" required>
        </div>

        <div class="form-group">
            <label for="email" th:text="#{people.email}"></label>
            <input type="email" class="form-control" id="email" th:field="*{email}"
                   th:placeholder="#{people.placeholder.email}" autocomplete="off" required>
        </div>
        <td>
            <div th:each="authority : ${authorities}">
                <input name="roles" type="checkbox"
                       th:value="${authority.id}"
                       th:field="*{authorities}">
                <label th:text="${#messages.msg('authority.' + authority.name)}" for="${#ids.prev(roles)}"></label>
            </div>

        </td>

        <div>
            <button class="btn btn-primary mt-4" type="submit" th:text="#{button.save}"></button>
        </div>
    </form>
</section>
