<html th:lang="${#locale.language}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

<title layout:fragment="title" th:text="#{people.title.password}"></title>

<section class="container" layout:fragment="content">

    <h2 th:text="#{people.title.password}"></h2>

    <form th:action="@{/user/password}" th:object="${personPassword}" method="post" id="formPassword">
        <input type="hidden" name="id" th:value="${id}">
        <div class="form-group">
            <label for="password" th:text="#{people.password}"></label>
            <input type="password" class="form-control" id="password" th:field="*{password}"
                   th:placeholder="#{people.placeholder.password}" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="password" th:text="#{people.password.confirm}"></label>
            <input type="password" class="form-control" id="passwordConfirm" th:field="*{passwordConfirm}"
                   th:placeholder="#{people.placeholder.password.confirm}" autocomplete="off">
        </div>

        <div class="form-group">
            <button class="btn btn-primary mt-4" type="submit" th:text="#{button.save}"></button>
        </div>
        <div class="form-group">
            <div class="alert alert-danger" style="display: none;">
                <span>Hasła są różne</span>
            </div>
        </div>

    </form>
</section>

<script layout:fragment="script">
    document.querySelector("#formPassword").addEventListener('submit', function (e) {
        e.preventDefault();
        const password = document.querySelector('#password').value;
        const passwordConfirm = document.querySelector('#passwordConfirm').value;
        if (password === '') {
            document.querySelector("#password").style.border = "2px solid red";
            return;
        }
        if (passwordConfirm === '') {
            document.querySelector("#passwordConfirm").style.border = "2px solid red";
            return;
        }
        if (password !== passwordConfirm) {
            document.querySelector("#password").style.border = "2px solid red";
            document.querySelector("#passwordConfirm").style.border = "2px solid red";
            document.querySelector(".alert").style.display = "block";
            setTimeout(function () {
                document.querySelector(".alert").style.display = "none";
            }, 5000)
            return;
        }
        this.submit();
    });
</script>