<html th:lang="${#locale.language}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}" xmlns="http://www.w3.org/1999/html">

<title layout:fragment="title" th:text="#{issue.title.create}"></title>

<section class="container" layout:fragment="content">

    <h2 th:text="#{issue.title.create}"></h2>

    <form th:action="@{/issue/save}" th:object="${issue}" method="post">
        <input type="hidden" th:field="*{id}" id="issue-id">
        <input type="hidden" th:field="*{creator}" id="creator" th:value="${#authentication.principal}">

        <div class="form-group">
            <label for="project-select" class="col-form-label" th:text="#{issue.project}"></label>
            <select class="form-control" th:field="*{project}" id="project-select" required>
                <option th:value="${null}"></option>
                <option th:each="p : ${projects}"
                        th:text="${p.name}"
                        th:value="${p.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="state-select" class="col-form-label" th:text="#{issue.state}"></label>
            <select class="form-control" th:field="*{state}" id="state-select" required>
                <option th:value="${null}"></option>
                <option th:each="s : ${T(net.brylka.BugTrackerJava.enums.State).values()}"
                        th:text="${#messages.msg('state.' + s)}"
                        th:value="${s}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="type-select" class="col-form-label" th:text="#{issue.type}"></label>
            <select class="form-control" th:field="*{type}" id="type-select" required>
                <option th:value="${null}"></option>
                <option th:each="t : ${T(net.brylka.BugTrackerJava.enums.Type).values()}"
                        th:text="${#messages.msg('type.' + t)}"
                        th:value="${t}"
                        th:selected="${t == type}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="person-select" class="col-form-label" th:text="#{issue.assignee}"></label>
            <select class="form-control" th:field="*{assignee}" id="person-select" required>
                <option th:value="${null}"></option>
                <option th:each="u : ${persons}"
                        th:text="${u.name}"
                        th:value="${u.id}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="priority-select" class="col-form-label" th:text="#{issue.priority}"></label>
            <select class="form-control" th:field="*{priority}" id="priority-select" required>
                <option th:value="${null}"></option>
                <option th:each="p : ${T(net.brylka.BugTrackerJava.enums.Priority).values()}"
                        th:text="${#messages.msg('priority.' + p)}"
                        th:value="${p}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="code-input" class="col-form-label" th:text="#{issue.code}"></label>
            <input class="form-control" th:field="*{code}"
                   th:placeholder="#{issue.placeholder.code}" id="code-input" required/>
        </div>

        <div class="form-group">
            <label for="name-input" class="col-form-label" th:text="#{issue.name}"></label>
            <input class="form-control" th:field="*{name}"
                   th:placeholder="#{issue.placeholder.name}" id="name-input" required/>
        </div>

        <div class="form-group">
            <label for="description-textarea" class="col-form-label" th:text="#{issue.description}"></label>
            <textarea class="form-control" rows="5" th:field="*{description}"
                      th:placeholder="#{issue.placeholder.description}" id="description-textarea" required></textarea>
        </div>
        <div class="float-end">
            <button class="btn btn-primary mt-4" type="submit" th:text="#{button.save}"></button>
            <a th:href="@{/issue/}" class="btn btn-light mt-4" th:text="#{button.cancel}"></a>
        </div>
    </form>
</section>