<html th:lang="${#locale.language}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}" xmlns="http://www.w3.org/1999/html">

<title layout:fragment="title" th:text="#{issue.title.show}"></title>

<section class="container" layout:fragment="content">

    <h2 th:text="#{issue.title.show}"></h2>

    <div>
        <table class="table table-striped">
            <tr>
                <th scope="col" th:text="#{issue.project.name}"></th>
                <td th:text="${issue.get().project.name}"></td>
                <th scope="col" th:text="#{issue.name}"></th>
                <td th:text="${issue.get().name}"></td>
                <th scope="col" th:text="#{issue.code}"></th>
                <td th:text="${issue.get().code}"></td>
            </tr>
        </table>
    </div>
    <div>
        <table class="table table-striped">
            <tr>
                <th scope="col" th:text="#{issue.description}"></th>
                <td colspan="5" th:text="${issue.get().description}"></td>
            </tr>
        </table>
    </div>
    <div>
        <table class="table table-striped">
            <tr>
                <th scope="col" th:text="#{issue.assignee}"></th>
                <td th:if="${issue.get().assignee != null}" th:text="${issue.get().assignee.name}"></td>
                <th scope="col" th:text="#{issue.date}"></th>
                <td th:text="${#dates.format(issue.get().dateCreated, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <th scope="col" th:text="#{issue.state}"></th>
                <td th:text="${#messages.msg('state.' + issue.get().state)}"></td>
                <th scope="col" th:text="#{issue.type}"></th>
                <td th:text="${#messages.msg('type.' + issue.get().type)}"></td>
                <th scope="col" th:text="#{issue.priority}"></th>
                <td th:text="${#messages.msg('priority.' + issue.get().priority)}"></td>
            </tr>
        </table>
    </div>
    <div class="float-end">
        <a th:href="@{/comment/{id}(id=${issue.get().id})}" class="btn btn-info mt-4" th:text="#{issue.comments}"></a>
        <a th:href="@{/issue/edit/{id}(id=${issue.get().id})}" class="btn btn-primary mt-4" th:text="#{issue.edit}"></a>
        <a th:href="@{/issue/}" class="btn btn-light mt-4" th:text="#{button.cancel}"></a>
        <a th:href="@{/issue/delete/{id}(id=${issue.get().id})}" class="btn btn-danger mt-4" th:text="#{issue.delete}"></a>
    </div>


</section>